.labelAvatar{
    color: #165160;
    font-weight: bold;
    font-size: 20px;
}

.labelProfile{
    width: 100%
}


.avatar{
    width: 70px;
    height: 70px;
}

.headerTitle{
    color: #E34F33;
    font-weight: bold;
}

.title{
    color: #165160;
    font-weight: bold;
}