<!--  Modal Begin -->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     role="dialog" [config]="{ignoreBackdropClick: true, keyboard: false}">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">

            <!--  Modal header begin   -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold headerTitle">Section Utilisateur</h4>

                <!--  we redirect to user main page if we are in the context of userPage   -->
                <div *ngIf="userPage == true">
                    <div>
                        <button type="button" class="close" routerLink="/user/{{idUser}}"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <!--  we redirect to admin main page if we are in the context of adminPage   -->
                <div *ngIf="userPage == false">
                    <button type="button" class="close" routerLink="/admin/{{idUser}}"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <!--  Modal header end   -->

            <!--  Modal body begin   -->
            <div class="modal-body mx-3">
                <form [formGroup]="editProfileForm" (ngSubmit)="onFormSubmit()">
                    <div class="md-form">
                        <div class="row">
                            <!--  left side to make the choice of the user avatar begin  -->
                            <div class="col-sm-11 col-md-11 col-lg-7 col-xl-7 p-0 m-0">
                                <p class="text-center labelAvatar mb-3"> Choix de l'avatar</p>
                                <div class=" row justify-content-center mb-5">

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar1.png"
                                               class="custom-control-input" id="defaultInline1"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline1">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar1.png"
                                                 alt="Avatar fille 1"/></label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar2.png"
                                               class="custom-control-input" id="defaultInline2"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline2">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar2.png"
                                                 alt="Avatar fille 2"/></label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar3.png"
                                               class="custom-control-input" id="defaultInline3"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline3">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar3.png"
                                                 alt="Avatar fille 3"/></label>
                                    </div>
                                </div>
                                <div class="row mb-5 justify-content-center">

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar4.png"
                                               class="custom-control-input" id="defaultInline4"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline4">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar4.png"
                                                 alt="Avatar garçon 1"/></label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar5.png"
                                               class="custom-control-input" id="defaultInline5"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline5">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar5.png"
                                                 alt="Avatar garçon 2"/></label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-3">
                                        <input type="radio" formControlName="avatar" value="Avatar6.png"
                                               class="custom-control-input" id="defaultInline6"
                                               name="avatar">
                                        <label class="custom-control-label title" for="defaultInline6">
                                            <img class="avatar"
                                                 src="../../../assets/avatar/Avatar6.png"
                                                 alt="Avatar garçon 3"/></label>
                                    </div>
                                </div>
                            </div>
                            <!--  left side to make the choice of the user avatar end  -->

                            <!--  right side to make the choice of the user informations (date, firstname,
                              lastname and email) begin -->
                            <div class="col-sm-11 col-md-11 col-lg-4 col-xl-4 p-0 m-0">

                                <!--  lastName begin -->
                                <div class="row mb-3">
                                    <div class="col-4 mt-2">
                                        <label for="editProfileFormName" class="title">Nom</label>
                                    </div>
                                    <div class="col-7">
                                        <input name="editProfileFormName" type="text"
                                               id="editProfileFormName" class="form-control labelProfile"
                                               formControlName="lastName" mdbInput mdbValidate>
                                    </div>
                                </div>
                                <!--  lastName end -->

                                <!--  firstname begin -->
                                <div class="row mb-3">
                                    <div class="col-4 mt-2">
                                        <label for="editProfileFormFirstName" class="title">Prénom</label>
                                    </div>
                                    <div class="col-7">
                                        <input name="editProfileFormFirstName" type="text"
                                               id="editProfileFormFirstName"
                                               class="form-control labelProfile"
                                               formControlName="firstName"
                                               mdbInput mdbValidate>
                                    </div>
                                </div>
                                <!--  firstname end -->

                                <!--  email begin -->
                                <div class="row mb-3">
                                    <div class="col-4 mt-2">
                                        <label for="editProfileFormEmail" class="title">Email</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" id="editProfileFormEmail"
                                               class="form-control labelProfile" formControlName="email"
                                               mdbInput mdbValidate>
                                    </div>
                                </div>
                                <!--  email end -->

                                <!--  birthdate begin -->
                                <div class="row mb-3">
                                    <div class="col-4 mt-2">
                                        <label for="editProfileFormDateBirth" class="title">
                                            Date de naissance</label>
                                    </div>
                                    <div class="col-7">
                                        <input name="editProfileFormDateBirth" type="date"
                                               id="editProfileFormDateBirth"
                                               class="form-control labelProfile"
                                               formControlName="birthDate"
                                               mdbInput mdbValidate>
                                    </div>
                                </div>
                                <!--  birthdate end -->

                                <!--  isAdmin begin -->
                                <!--  appears if we are in a context admin and if we try to add a
                                            new user -->
                                <div *ngIf="userPage == false && newUser == true"
                                     class="row justify-content-center">
                                    <div class="col-6 mt-2">
                                        <label for="adminOui" class="title">Administrateur</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-2">
                                        <input type="radio" formControlName="admin" value="true"
                                               class="custom-control-input" id="adminOui"
                                               name="admin">
                                        <label class="custom-control-label title" for="adminOui">
                                            Oui</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline col-2">
                                        <input type="radio" formControlName="admin" value="false"
                                               class="custom-control-input" id="adminNon"
                                               name="admin">
                                        <label class="custom-control-label title" for="adminNon">
                                            Non</label>
                                    </div>
                                </div>
                                <!--  isAdmin end -->

                            </div>
                            <!--  right side to make the choice of the user informations (date, firstname,
                              lastname and email) begin -->

                        </div>
                    </div>

                    <!--  button to submit the form, he appears if the form is valid begin -->
                    <div class="modal-footer d-flex justify-content-center" *ngIf="editProfileForm.valid">
                        <button type="submit" [disabled]="!editProfileForm.valid" mdbBtn color="default"
                                class="btn btn-outline-default waves-effect" mdbWavesEffect>
                            Valider
                        </button>
                    </div>
                    <!--  button to submit the form, he appears if the form is valid begin -->

                </form>
            </div>
            <!--  Modal body end   -->
        </div>
    </div>
</div>
<!--  Modal end -->

