<div class="row mt-5 pt-5 justify-content-center ">
    <div class="col-7">
        <p>Enquêtes précédentes :</p>
    </div>
</div>

<!-- old answer in motm of the user that is connected  begin -->
<!-- we show only 5 lasts answers  -->
<div *ngFor="let answer of answers | slice:1:6">
    <ul>
        <li>
            <div class="row mt-1 justify-content-center">
                <div class="col-7 oldSurvey p-3">
                    <div class="row align-items-center" >
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 titleOldSurvey">
                            {{answer.motmQId.questionText}}
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            {{answer.answerTimestamp}}
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            {{answer.motmRating}} / 5
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- old answer in motm of the user that is connected  end -->
