.lastSurvey {
    border-radius: 7px;
    box-shadow: 0px 0px 4px #6E6E6E;
}

.titleSurvey {
    font-size: 18px;
}

.redStar {
    height: 30px;
    width: 30px;
}

.motmButton {
    border: 4px solid #C1C8A6;
    color: #C1C8A6;
    background-color: white;
}
