<div class="row mt-5 pt-5 justify-content-center ">
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <p>Dernière enquête :</p>
    </div>
</div>

<!-- Display of the motm of this month begin -->
<div class="row mt-1 justify-content-center">
    <div class="col-9 lastSurvey p-3">
        <div class="row align-items-center">
            <!-- Red Star begin -->
            <div class="col-sm-12 col-md-12 col-lg-1 col-xl-2 mb-1 pl-4">
                <img class="redStar" src="../../assets/EtoileRouge.svg">
            </div>
            <!-- Red Star end -->

            <!-- Question of the motm begin -->
            <div *ngIf="motmQ" class="col-sm-12 col-md-12 col-lg-5 col-xl-4  titleSurvey" >
                {{motmQ.questionText}}
            </div>
            <!-- Question of the motm end -->

            <!-- Date of the motm begin -->
            <div *ngIf="motmQ" class="col-sm-12 col-md-12 col-lg-2 col-xl-2" >
                {{motmQ.monthValidity | date:'MM-yyyy'}}
            </div>
            <!-- Date of the motm end -->

            <!-- Response of the user in the motm if he has respond begin -->
            <div *ngIf="motmA ; else noAnswer" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 ">
                {{motmA.motmRating}} / 5
            </div>
            <ng-template #noAnswer>
                <div  class="col-sm-12 col-md-12 col-lg-1 col-xl-2 ">
                    / 5
                </div>
            </ng-template>
            <!-- Response of the user in the motm if he has respond end -->

            <!-- Button to answer to the motm begin -->
            <div *ngIf="motmQ && idUser" class="col-sm-12 col-md-12 col-lg-3 col-xl-2 ">
                <button mdbBtn routerLink="/user/{{idUser}}/motmQ/{{motmQ.id}}" color="default"
                        class="btn btn-outline-default waves-effect" mdbWavesEffect>
                    EVALUER
                </button>
            </div>
            <!-- Button to answer to the motm end -->

        </div>
    </div>
</div>
<!-- Display of the motm of this month end -->