<div class="container-fluid">
    <!--  Admin Toolbar begin  -->
    <div class="row adminToolbar justify-content-between align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="logo" src="./assets/logoMOTM+text.svg"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <app-admin-toolbar [idAdmin]="idAdmin"></app-admin-toolbar>
        </div>
    </div>
    <!--  Admin Toolbar end  -->

    <!--  Admin Main Page begin  -->
    <div class="row mt-2 pt-2 ml-2 pl-2  justify-content-around mainContent">
        <!--  Choice Results MOTM begin   -->
        <div class=" col-sm-12 col-md-8 col-xl-8 col-lg-8" >
            <div class="row">
                <div class="col-3">
                    <p class="titleInfos" > Résultat pour :</p>
                </div>
                <div class="col-9">
                    <div class="col-6">
                        <select (change)="onChange(motmQ.value)" class="form-control" name="MotmQ" #motmQ>
                            <option value="tout">
                                Tout
                            </option>
                            <option value="{{motmQ.id}}" *ngFor="let motmQ of allMotmQ">
                                {{motmQ.monthValidity}} </option>
                        </select>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedResults === true">
                <app-admin-all-results [allMotmParticipation]="monthlyParticipations"
                                       [allMotmMean]="monthlyMeans" [allMotmInterest]="monthlyInterests"
                                       [allMotmRatings]="monthlyRatings"> </app-admin-all-results>
            </div>
        </div>
        <!--  Choice Results MOTM end   -->

        <!--  Right side with options like new user, new motm and dowload CSV begin   -->
        <div *ngIf="idAdmin" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 utilitaryMain">
            <button routerLink="/admin/{{idAdmin}}/newUser" mdbBtn color="default"
                    class="btn btn-outline-default waves-effect btnCreate" mdbWavesEffect>
                Créer un utilisateur
            </button>
            <button routerLink="/admin/{{idAdmin}}/newMotmQ" mdbBtn color="default"
                    class="btn btn-outline-default waves-effect btnCreate" mdbWavesEffect>
                Créer une enquête
            </button>

            <!--   Download CSV begin   -->
            <div class="row mt-5 ml-2">
                <select (change)="onChangeCSV(CSV.value)" class="form-control col-5 mt-2"
                        name="MotmQ" #CSV>
                    <option value="user">
                        Utilisateurs
                    </option>
                    <option value="motmQ">
                        MOTM Questions
                    </option>
                    <option value="motmA">
                        MOTM Réponses
                    </option>
                    <option value="stats">
                        Statistiques
                    </option>
                </select>
                <button  (click)="downloadCsvSubmit()" color="default"
                         class="btn btn-sm btn-outline-default ml-4" >
                    <img class="arrow" src="../assets/down-arrow.png" alt="Télécharger">
                </button>
            </div>
            <!--   Download CSV begin   -->

        </div>
        <!--  Right side with options like new user, new motm and dowload CSV end   -->


    </div>
    <!--  Admin Main Page end  -->

</div>
