.logo {
    max-height: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titleInfos {
    font-size: 18px;
    color: #165160;
    font-weight: bold;
}

.btnCreate {
    width : 70%;
}

.histoElse, .histoVotes {
    border: 1px solid black;
    height: 80%;
}

.circleAnswer {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.itemCommentary {
    border-bottom: 1px solid grey;
}

.utilitaryMain {
    border-left: 1px solid grey;
    margin-bottom: 0px;
    margin-top: 0px;
}

.arrow{
    height:20px;
    width: 20px;
}

.adminToolbar{
    background-color: #E8E8ED;
}
