<div *ngIf="user" class="row adminToolbar pl-5 align-items-center justify-content-end" >

    <p class="mb-0">
        {{user.firstName}} {{user.lastName}}<br>

        <a routerLink="/user/{{idUser}}/edit-profile">Editer mon profil</a>
        <br>
        <a *ngIf="user.isAdmin == true" routerLink="/admin/{{idUser}}">Mode Administrateur</a>
    </p>

    <img class=" pr-0 ml-3 mr-5 avatar" src="../../assets/avatar/{{user.userAvatar}}">
</div>
