<div class="row justify-content-around">
    <!--  charts to show participation begin  -->
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <app-monthly-participation-chart [allMotmParticipation] = "allMotmParticipation"></app-monthly-participation-chart>
    </div>
    <!--  charts to show participation end  -->

    <!--  charts to show mean begin  -->
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <app-monthly-mean-chart [allMotmMean]="allMotmMean"></app-monthly-mean-chart>
    </div>
    <!--  charts to show mean end  -->
</div>
<div class="row justify-content-around">
    <!--  charts to show interest begin  -->
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <app-monthly-interests-chart [allMotmInterest] = "allMotmInterest"></app-monthly-interests-chart>
    </div>
    <!--  charts to show interest end  -->

    <!--  charts to show monthly ratings begin  -->
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <app-monthly-rating-chart [motmFirstRatings] = "motmFirstRatings" [motmSecondRatings]="motmSecondRatings" [motmThirdRatings]="motmThirdRatings"></app-monthly-rating-chart>
    </div>
    <!--  charts to show monthly ratings end  -->
</div>

