<div class="container-fluid">
    <!-- User Toolbar begin   -->
    <div class="row userToolbar justify-content-between align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="logo" src="./assets/logoMOTM+text.svg"/>
        </div>
        <div *ngIf="idUser !== undefined" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <app-user-toolbar [idUser]="idUser"></app-user-toolbar>
        </div>
    </div>
    <!-- User Toolbar end  -->

    <!-- Main Page User begin  -->
    <div *ngIf="idUser !== undefined">
        <app-current-motm [idUser]="idUser"></app-current-motm>
        <app-old-surveys [idUser]="idUser"></app-old-surveys>
    </div>
    <!-- Main Page User end  -->

</div>
