<div class="container-fluid" >
    <!-- admin Toolbar begin   -->
    <div class="row adminToolbar justify-content-between align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="logo" src="./assets/logoMOTM+text.svg"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <app-admin-toolbar [idAdmin]="idAdmin"></app-admin-toolbar>
        </div>
    </div>
    <!-- admin Toolbar end   -->

    <!-- button to redirect to the admin main page begin  -->
    <div class="row ml-3 mt-3">
        <button mdbBtn routerLink="/admin/{{idAdmin}}" color="default"
                class="btn btn-sm btn-outline-default waves-effect " mdbWavesEffect>
            Retour
        </button>
    </div>
    <!-- button to redirect to the admin main page end  -->

    <!-- display title motm begin  -->
    <div class="row justify-content-center titleInfos mt-3" *ngIf="selectedMotmQ">
        <p>{{selectedMotmQ.questionText}} </p>
    </div>
    <!-- display title motm end  -->

    <div class="row mt-2 pt-2 ml-2 pl-2 align-items-center justify-content-around" *ngIf="selectedStats">
        <!-- display chart begin  -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
            <app-highcharts [motmRatings]="selectedRatings"></app-highcharts>
        </div>
        <!-- display chart end  -->

        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-3">
            <!-- display motm infos bubble begin  -->
            <div class="row justify-content-around circleResults">
                <div class="col-3 circleAnswer pl-2 pr-2 text-center">
                    <p class="resultsNumber mb-0 mt-1" > {{selectedStats.answerNumber}} </p>
                    <p class="circleText"> Réponse(s) </p>
                </div>
                <div class="col-3 circleAnswer pl-2 pr-2 text-center">
                    <p class="resultsNumber mb-0 mt-1" > {{selectedStats.motmMean}} / 5 </p>
                    <p class="circleText"> Moyenne </p>
                </div>
                <div class="col-3 circleAnswer pl-2 pr-2 text-center">
                    <p class="resultsNumber mb-0 mt-1" > {{selectedStats.participation*100}} % </p>
                    <p class="circleText"> Participation </p>
                </div>
            </div>
            <!-- display motm infos bubble end  -->

            <!-- display comments of the motm begin  -->
            <div class="row mt-3 commentarySection">
                <div class="col-12">
                    <p class="titleCommentary"> Commentaires : <br> </p>
                    <p class="itemCommentary"*ngFor="let comment of selectedCommentaries">
                        {{comment}}
                    </p>
                </div>
            </div>
            <!-- display comments of the motm end  -->

        </div>

    </div>
</div>





