.titleInfos, .titleCommentary {
    font-size: 26px;
    font-weight: bold;
}

.titleInfos {
    color: #E34F33;
}

.titleCommentary {
    color: #165160;
}



.btnCreate {
    width : 70%;
}

.circleAnswer {
    background-image: url("./../../../assets/CircleAnswer.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.circleText {
    font-size: 8px;
}

.resultsNumber {
    font-weight: bold;
}

.itemCommentary {
    border-bottom: 1px solid grey;
    font-size: 14px;
}

.utilitaryMain {
    border-left: 1px solid grey;
    margin-bottom: 0px;
    margin-top: 0px;
}

.circleResults {
    height: 60px;
}

.commentarySection {
    border-top: 1px solid black;
}

@media (max-width: 768px) {
    .logo {
        max-height: 35px;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    .logo {
        max-height: 75px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.adminToolbar {
    background-color: #E8E8ED;
}
