<!-- Modal begin -->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" role="dialog"
     [config]="{ignoreBackdropClick: true, keyboard: false}">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <!--   Modal header begin    -->
                <!--   the button redirect to the admin main page    -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold headerTitle">Ajouter un nouveau MOTM</h4>
                <button type="button" class="close" routerLink="/admin/{{idAdmin}}"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--   Modal header end    -->

            <!--   Modal body begin    -->
            <div class="modal-body mx-3">
                <form [formGroup]="newMotmQForm" (ngSubmit)="onFormSubmit()" >
                    <div class="md-form">

                        <!--   Choice date begin    -->
                        <div class="row mb-5">
                            <div class="col-3">
                                <label class="title">Date</label>
                            </div>
                            <div class="col-9">
                                <input name="newMotmQDate" type="date" id="newMotmQDate"
                                       class="form-control" formControlName="date"
                                       mdbInput mdbValidate>
                            </div>
                        </div>
                        <!--   Choice date end    -->

                        <!--   Choice question begin    -->
                        <div class="row mb-5">
                            <div class="col-3">
                                <label class="title">Question</label>
                            </div>
                            <div class="col-9">
                                <input name="newMotmQQuestion" type="text" id="newMotmQQuestion"
                                       class="form-control" formControlName="question"
                                       mdbInput mdbValidate>
                            </div>
                        </div>
                        <!--   Choice question end    -->

                        <!--   Choice description begin   -->
                        <div class="row">
                            <div class="col-3">
                                <label class="title">Description</label>
                            </div>
                            <div class="col-9">
                                <textarea type="text" class="newMotmQQuestionDescription"
                                          placeholder="Description (facultatif)" value=""
                                          id="newMotmQQuestionDescription"
                                          name="newMotmQQuestionDescription"
                                          formControlName="description"></textarea>
                            </div>
                        </div>
                        <!--   Choice description end   -->


                    </div>
                    <div class="modal-footer d-flex justify-content-center" *ngIf="newMotmQForm.valid">
                        <button type="submit" [disabled]="!newMotmQForm.valid" mdbBtn color="default"
                                class="btn btn-outline-default waves-effect" mdbWavesEffect>
                            Valider</button>
                    </div>
                </form>
            </div>
            <!--   Modal body end    -->
        </div>
    </div>
</div>
<!-- Modal end -->

