<div *ngIf="admin" class="row adminToolbar pl-5 align-items-center justify-content-end">
    <p class="mb-0">
        {{admin.firstName}} {{admin.lastName}}<br>

        <a routerLink="/admin/{{idAdmin}}/edit-profile">Editer mon profil</a>
        <br>
        <a routerLink="/user/{{idAdmin}}">Mode Utilisateur</a>
    </p>


    <img class=" pr-0 ml-3 mr-5 avatar" src="../../assets/avatar/{{admin.userAvatar}}">
</div>


