<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MOTM Mail Notification</title>
</head>
<body>

    <tr>
        <td data-bgcolor="bg-module" bgcolor="#eaeced">
            <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">

                <tr>
                    <td data-bgcolor="bg-block" class="holder" style="padding:58px 60px 52px;" bgcolor="#f9f9f9">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
                                    <h2 th:text="${month}">Mood of + mois</h2>
                                </td>
                            </tr>
                            <tr>
                                <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 15px;">
                                    <p th:text="${question}">Question posée</p>
                                    <br>
                                    <p>Pour répondre à ce Mood of The Month, rejoingez votre espace ici :</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 0 20px;">
                                    <table width="134" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td data-bgcolor="bg-button" data-size="size button" data-min="10" data-max="16" class="btn" align="center" style="font:12px/14px Arial, Helvetica, sans-serif; color:#f8f9fb; text-transform:uppercase; mso-padding-alt:12px 10px 10px; border-radius:2px;" bgcolor="#7bb84f">
                                                <a target="_blank" style="text-decoration:none; color:#f8f9fb; display:block; padding:12px 10px 10px;" th:href="@{http://localhost:4200/user/{userId}(userId=${userId})}">Répondre à l'enquête</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td height="28"></td></tr>
            </table>
        </td>
    </tr>


</body>
</html>