<!-- Modal begin -->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" role="dialog"
     [config]="{ignoreBackdropClick: true, keyboard: false}">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal header begin -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold headerTitle">Répondre au MOTM</h4>
                <button type="button" class="close" routerLink="/user/{{idUser}}" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal header end -->

            <!-- Modal body begin -->
            <div class="modal-body mx-3">
                <form [formGroup]="surveyMotmForm" (ngSubmit)="onFormSubmit()" >
                    <!-- Question of the MotmQ begin -->
                    <div *ngIf="motmQ" class="md-form">
                        <h3 class="titleMotmQ mb-3"> {{motmQ.questionText}} </h3>
                        <p> {{motmQ.descText}} </p>
                    </div>
                    <!-- Question of the MotmQ end -->

                    <!-- Note choice begin -->
                    <label class="title">Note</label>
                    <div class=" row justify-content-center mb-5">
                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="0"
                                   class="custom-control-input" id="rating0"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating0">0</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="1"
                                   class="custom-control-input" id="rating1"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating1">1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="2"
                                   class="custom-control-input" id="rating2"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating2">2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="3"
                                   class="custom-control-input" id="rating3"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating3">3</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="4"
                                   class="custom-control-input" id="rating4"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating4">4</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-1">
                            <input type="radio" formControlName="rating" value="5"
                                   class="custom-control-input" id="rating5"
                                   name="rating">
                            <label class="custom-control-label textRadioButton" for="rating5">5</label>
                        </div>
                    </div>
                    <!-- Note choice begin -->

                    <!-- Comment section begin -->
                    <div class="mb-5 row">
                        <div class="col-3">
                            <label class="title">Commentaire</label>
                        </div>
                        <div class="col-9">
                            <textarea type="text" class="comment" placeholder="Commentaire (facultatif)"
                                      value=""
                                      id="comment" name="comment" formControlName="comment"></textarea>
                        </div>
                    </div>
                    <!-- Comment section end -->

                    <!-- Button to submit the survey begin -->
                    <div class="modal-footer d-flex justify-content-center" *ngIf="surveyMotmForm.valid">
                        <button type="submit" [disabled]="!surveyMotmForm.valid" mdbBtn color="default"
                                class="btn btn-outline-default waves-effect" mdbWavesEffect>
                            Valider</button>
                    </div>
                    <!-- Button to submit the survey end -->

                </form>
            </div>
            <!-- Modal body end -->

        </div>
    </div>
</div>
<!-- Modal end -->
