.titleMotmQ{
    text-align: center;
    color: #5B5B5D;
    font-weigth: bold;
}

.textRadioButton{
    font-size: 20px;
}

.comment{
    width: 80%;
    height: 100px;
}

.title{
    color: #165160;
    font-weight: bold;
}

.headerTitle{
    color: #E34F33;
    font-weight: bold;
}